body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container{
    width: 600px;
    margin-top: 40px;
}
.search-box{
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 10px;
}
button{
    padding: 8px 14px;
    cursor: pointer;
    background: #e50914;
    color: #fff;
    border: none;
}
.movie{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    background: #222;
    padding: 15px;
    border-radius: 8px;
}
.movie img{
    width: 120px;
}
.plot {
    max-height: 120px;
    overflow: hidden;
    line-height: 1.5;
}